{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container py-5 text-white" style="max-width: 500px;">
    <div class="card bg-dark p-4 shadow-lg mx-auto text-center">
        <h2 class="mb-4">{% trans "Sign Out" %}</h2>
        <p>{% trans "Are you sure you want to log out?" %}</p>

        <form method="POST" action="{% url 'account_logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-link text-white p-0 m-0 align-baseline">
                Logout
            </button>
        </form>

    </div>
</div>
{% endblock %}
