body {
    background-color: #4b4b4fff;
    color: white;
}
.card {
    background-color: #444;
    color: white;
}

.modal-content {
    background-color: #2c2f33; 
    border-radius: 0.5rem;
    border: 1px solid #444;
}


/* Menu styles */
.fixed-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.price {
  color: #0d6efd;    /* or #1e90ff for lighter */
  font-weight: 700;
  font-size: 1.1rem;
}

.menu-card {
  border-radius: 12px;
  transition: transform .3s ease, box-shadow .3s ease;
}

.menu-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,.2);
  z-index: 2;
}
