body {
    background-color: #4b4b4fff;
    color: white;
}
.card {
    background-color: #444;
    color: white;
}

.modal-content {
    background-color: #2c2f33; 
    border-radius: 0.5rem;
    border: 1px solid #444;
}


